.head{
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
}
/* Styling the container*/
#container{
    align-items: center;
    text-align: center;
}
/*  styling the add button*/
#button{
    background-color: red;
    color: white;
    font: bolder;
    border: none;
    opacity: 0.9;
}
/* styling the display quotes title*/
#display{
    color: aqua;
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
}
/* ad some hover to border*/
#button:hover{
    color: aqua;
}
